.dmx_unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.dmx_overflow_hidden {
    overflow: hidden;
}

#dmx_mouse_icon {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    font-family: "dmx-icon", serif !important;
    width: 32px;
    height: 32px;
    font-size: 18px;
    font-style: normal;
    background: linear-gradient(#5691c8, #457fca);
    border: 1px solid #5092E9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
    border-radius: 50%;
    color: #fff;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
    transition: transform 0.25s ease;
}

#dmx_mouse_icon:before {
    content: "\e661";
}

#dmx_mouse_icon:hover {
    background: linear-gradient(#FF416C, #FF4B2B);
    border: 1px solid #FF416C;
}

#dmx_mouse_icon:hover:before {
    transform: rotate(-30deg);
}

#dmx_dialog {
    all: initial;
    position: fixed;
    z-index: 99999999999;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: #f5f8fa;
    border: 1px solid #cfd0d2;
    border-radius: 6px;
    /*top: calc(50% - 250px);*/
    /*left: calc(50% - 250px);*/
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    display: none;
}

#dmx_dialog_resize_n {
    cursor: ns-resize;
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 8px
}

#dmx_dialog_resize_e {
    cursor: ew-resize;
    position: absolute;
    right: -5px;
    top: 0;
    width: 8px;
    height: 100%
}

#dmx_dialog_resize_s {
    cursor: ns-resize;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 8px
}

#dmx_dialog_resize_w {
    cursor: ew-resize;
    position: absolute;
    left: -5px;
    top: 0;
    width: 8px;
    height: 100%
}

#dmx_dialog_resize_nw {
    cursor: nwse-resize;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px
}

#dmx_dialog_resize_ne {
    cursor: nesw-resize;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 10px;
    height: 10px
}

#dmx_dialog_resize_sw {
    cursor: nesw-resize;
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 10px;
    height: 10px
}

#dmx_dialog_resize_se {
    cursor: nwse-resize;
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 17px;
    height: 17px;
}

#dmx_dialog_title {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #f5f8fa;
    border-bottom: 1px solid #cfd0d2;
    border-radius: 6px 6px 0 0;
    cursor: move;
}

#dmx_dialog_title .dmx-icon {
    cursor: pointer;
    color: #232B33;
}

#dmx_dialog_title .dmx-icon:hover {
    opacity: 0.7;
}

#dmx_dialog_title .dmx_left {
    float: left;
}

#dmx_dialog_title .dmx_left > div {
    float: left;
    margin-right: 8px;
}

#dmx_dialog_title #dmx_close .dmx-icon {
    color: #FC4A4A;
    font-size: 18px;
}

#dmx_dialog_title #dmx_pin:before {
    content: "\e65a";
    padding: 2px;
    font-size: 18px;
}

#dmx_dialog_title #dmx_pin.active:before {
    content: "\e659";
    background: #e0e3e6;
    border-radius: 2px;
}

#dmx_dialog_title #dmx_fullscreen:before {
    content: "\e63f";
}

#dmx_dialog_title #dmx_fullscreen.active:before {
    content: "\e63e";
}

#dmx_dialog_title #dmx_back {
    margin: 1px 0 0 15px;
    border: 1px solid gray;
    border-radius: 30px;
    height: 26px;
    overflow: hidden;
}

#dmx_dialog_title #dmx_back .dmx-icon {
    display: block;
    float: left;
    margin: 0;
    line-height: 26px;
}

#dmx_dialog_title #dmx_back .dmx-icon:hover {
    background: #252525;
    color: #fff;
}

#dmx_dialog_title #dmx_back .dmx-icon-left {
    padding: 0 8px;
    border-right: 1px solid gray;
}

#dmx_dialog_title #dmx_back .dmx-icon-right {
    padding: 0 8px;
}

#dmx_dialog_title #dmx_navigate {
    margin: 1px 0 0 15px;
}

#dmx_dialog_title #dmx_navigate u {
    float: left;
    display: block;
    text-decoration: none;
    background: #F3F6F9;
    border: 1px solid #C4C5C8;
    border-radius: 5px 5px 0 0;
    padding: 0 8px;
    margin-right: 5px;
    line-height: 28px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#dmx_dialog_title #dmx_navigate u.active {
    border-bottom: 1px solid #F3F6F9;
}

#dmx_dialog_title .dmx_right {
    float: right;
}

#dmx_dialog_title .dmx_right > div {
    float: right;
    margin-left: 8px;
}

#dmx_dialog_content {
    position: absolute;
    left: 0;
    top: 33px;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 36px);
    overflow: auto;
}

.dmx_iframe {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 5px);
    border: none;
}

.dmx_loading {
    border: 3px solid #bdc3c7;
    border-top: 3px solid #2c3e50;
    border-bottom: 3px solid #2c3e50;
    border-radius: 50%;
    display: block;
    width: 16px;
    height: 16px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /*background-color: #E2E4E6;*/
}

::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9da5ac;
}

::-webkit-scrollbar-thumb:active {
    background-color: #2c3e50;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #1a73e8;
}

.fx:after {
    display: block;
    content: '';
    clear: both;
}

.main {
    margin: 0 auto;
    padding: 10px;
    min-width: 100px;
    font-size: 15px;
    line-height: 1.8;
}

.main_trans {
    padding-bottom: 0;
}

/* ==================== translate ==================== */
#translate_input {
    background: #fff;
    color: #4e5053;
    line-height: 1.6;
    padding: 5px 10px;
    outline: none;
    overflow: auto;
}

#translate_input:focus {
    border-color: #409eff;
}

.language_box {
    position: relative;
}

.language_box > div {
    float: left;
}

.language_button {
    background: #ffffff;
    border: 1px solid #cfd0d2;
    border-radius: 8px;
    margin-top: 10px;
    padding: 2px 10px;
    min-width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.language_button:hover {
    color: #1a73e8;
    box-shadow: -2px -2px 2px 0 #d0d7de;
}

.language_button:after {
    font-size: 8px;
    margin-left: 6px;
    content: "\e629";
}

.language_button.active {
    z-index: 999;
    position: relative;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #fff;
    box-shadow: -2px 0 0 0 #d0d7de;
    height: 31px;
}

.language_button.active:after {
    content: "\e62a";
}

#language_dropdown {
    z-index: 998;
    position: absolute;
    left: 0;
    top: 46px;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #cfd0d2;
    border-radius: 0 8px 8px 8px;
    padding: 10px 10px 5px 10px;
    margin-bottom: 3px;
    box-shadow: 0 2px 2px 2px #d0d7de;
    display: none;
}

#language_dropdown.dropdown_target {
    border-radius: 8px;
}

#language_dropdown.dropdown_target u:first-child {
    display: none;
}

#language_dropdown u {
    float: left;
    display: block;
    text-decoration: none;
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

#language_dropdown u:hover {
    background: #414345;
    border: 1px solid #232526;
    color: #fff;
}

#language_dropdown u.active {
    background: #e8f0fe;
    border: 1px solid #185abc;
    color: #185abc;
}

#language_dropdown u.disabled {
    background: #f5f5f5;
    border: 1px solid #d3d3d3;
    color: #ddd;
    cursor: not-allowed;
}

#language_exchange {
    margin-top: 10px;
    padding: 2px 8px;
    cursor: pointer;
}

#language_exchange.disabled {
    color: #ddd;
    cursor: not-allowed;
}

#translate_button {
    float: right;
    background: #4395ff;
    border: 1px solid #3589ff;
    border-radius: 8px;
    color: #fff;
    height: 28px;
    line-height: 28px;
    margin-top: 10px;
    padding: 2px 15px;
    cursor: pointer;
    transition: .1s;
}

#translate_button:hover {
    box-shadow: -2px -2px 2px 0 #d0d7de;
}

#translate_button:active {
    opacity: .7;
}

.case {
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #cfd0d2;
    transition: all .2s linear;
}

.case:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    /*transform: scale(1.005);*/
}

.case:first-child {
    margin-top: 0;
}

.case .dmx-icon {
    cursor: pointer;
}

.case .dmx-icon:hover {
    color: #1a73e8;
}

.case_copy, .case_bilingual {
    display: none;
}

.case:hover .case_copy, .case:hover .case_bilingual {
    display: block;
}

.case_content {
    padding: 7px 10px;
    line-height: 1.6;
}

.case_content [data-search="true"] {
    cursor: pointer;
}

.case_content p.source_text {
    color: #7398e6;
    margin-top: 5px;
}

.case_content p.source_text:first-child {
    margin-top: 0;
}

.case_top {
    padding: 2px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.case_bottom {
    padding: 2px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.case_left {
    float: left;
    margin-right: 10px;
}

.case_left:last-child {
    margin-right: 0;
}

.case_right {
    float: right;
    margin-left: 15px;
}

.case_right:last-child {
    margin-left: 0;
}

.case_right a {
    font-weight: bold;
}

.case_right a .dmx-icon {
    margin-right: 3px;
}

.case_bilingual {
    cursor: pointer;
}

.case_bilingual:after {
    font-size: 22px;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    content: "\e681";
    color: rgba(0, 0, 0, 0.26);
}

.case_bilingual.active:after {
    content: "\e680";
    color: #1a73e8;
}

.dmx_ripple {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    color: #535353;
    cursor: pointer;
    transition: all .2s;
}

.dmx_ripple:hover {
    color: #1a73e8;
    transform: scale(1.3);
}

.dmx_ripple.active {
    color: #e53935;
}

.dmx_ripple.active:before, .dmx_ripple.active:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #e35d5b;
}

.dmx_ripple.active:before {
    animation: dmx_ripple 1s linear infinite;
}

.dmx_ripple.active:after {
    animation: dmx_ripple 1s linear 0.5s infinite;
}

.dmx_reverse:before, .dmx_reverse:after {
    animation-direction: reverse !important;
}

@keyframes dmx_ripple {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.75);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.95);
        opacity: 0.2;
    }
    100% {
        transform: scale(2.05);
        opacity: 0;
    }
}

.dmx_pink {
    color: deeppink;
}

/* ==================== dictionary ==================== */
#head {
    z-index: 9;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 2px 10px 5px;
    background: #F3F6F9;
    border-bottom: 1px solid rgba(32, 33, 36, 0.28);
    box-shadow: 0 1px 4px 0 rgba(32, 33, 36, 0.18);
}

.search_box {
    background: #fff;
    color: #4e5053;
    height: 30px;
    line-height: 30px;
    padding: 3px 32px 3px 8px;
    position: relative;
}

.search_box:hover {
    border-color: #409eff;
}

.search_box > input {
    display: block;
    width: 100%;
    height: 28px;
    font-size: 18px;
    outline: none;
    border: none;
}

.search_box #search_but {
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
}

/* ==================== alert ==================== */
#dmx_alert {
    z-index: 999999999999;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

#dmx_alert > div {
    position: relative;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #414345;
    border: 1px solid #232526;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    transition: all .3s;
    overflow: hidden;
}

#dmx_alert > div.an_top {
    margin-top: 10px;
}

#dmx_alert > div.an_delete {
    opacity: 0.1;
}

#dmx_alert > div .dmx-icon {
    margin-right: 5px;
}

#dmx_alert .dxm_alert_success {
    background-color: #6FBD39;
    border: 1px solid #56ab2f;
}

#dmx_alert .dxm_alert_error {
    background-color: #ef473a;
    border: 1px solid #b31217;
}

/* ================== longman ================== */
.longman_dict .Sense img {
    float: right;
    width: 30%;
    max-width: 400px;
    margin-left: 5px;
}

.longman_dict .Sense:after {
    display: block;
    content: '';
    clear: both;
}

.longman_dict .infls,
.longman_dict .description,
.longman_dict .title,
.longman_dict .url,
.longman_dict .summary,
.longman_dict .og,
.longman_dict .infls,
.longman_dict .description,
.longman_dict .title,
.longman_dict .url,
.longman_dict .summary,
.longman_dict .og,
.longman_dict .assetref,
.longman_dict .assetref,
.longman_dict .dictentry,
.longman_dict .dictionary_intro,
.longman_dict .topic_intro,
.longman_dict .exaGroup,
.longman_dict .exaGroup .exaEntry,
.longman_dict .exaGroup .title,
.longman_dict .exaGroup .exa,
.ldoceEntry .Entry,
.ldoceEntry .ErrorBox,
.ldoceEntry .EXAMPLE,
.ldoceEntry .GramExa,
.ldoceEntry .PhrVbEntry,
.ldoceEntry .RunOn,
.ldoceEntry .Sense,
.ldoceEntry .Subsense,
.ldoceEntry .ColloBox,
.ldoceEntry .ThesBox,
.ldoceEntry .F2NBox,
.ldoceEntry .GramBox,
.ldoceEntry .HEADING.newline,
.ldoceEntry .Collocate,
.ldoceEntry .Exponent,
.ldoceEntry .EXPL,
.ldoceEntry .COLLEXA,
.ldoceEntry .THESEXA,
.ldoceEntry .LearnerItem,
.ldoceEntry .ColloExa,
.bussdictEntry .Box,
.bussdictEntry .Entry,
.bussdictEntry .ColloExa,
.bussdictEntry .ErrorBox,
.bussdictEntry .EXAMPLE,
.bussdictEntry .GramExa,
.bussdictEntry .PhrVbEntry,
.bussdictEntry .Sense,
.bussdictEntry .Subsense,
.bussdictEntry .ColloBox,
.bussdictEntry .ThesBox,
.bussdictEntry .F2NBox,
.bussdictEntry .GramBox,
.bussdictEntry .UsageBox,
.bussdictEntry .HEADING.newline,
.bussdictEntry .SECHEADING,
.bussdictEntry .subheading,
.bussdictEntry .Collocate.newline,
.bussdictEntry .Exponent,
.bussdictEntry .GramBox .EXPL,
.bussdictEntry .EXPL.newline,
.bussdictEntry .LearnerItem,
.bussdictEntry .CompareWord,
.bussdictEntry .EXP,
.bussdictEntry .boxheader,
.bussdictEntry .SubEntry {
    display: block;
}

.ldoceEntry .FIELD,
.ldoceEntry .HWD,
.ldoceEntry .NOTE,
.ldoceEntry .Noteprompt,
.ldoceEntry .PIC,
.ldoceEntry .PICCAL,
.ldoceEntry .ACTIV,
.ldoceEntry .BOX,
.ldoceEntry .COMMENT,
.ldoceEntry .USAGE,
.bussdictEntry .ACTIV,
.bussdictEntry .COMMENT,
.bussdictEntry .FIELD,
.bussdictEntry .HWD,
.bussdictEntry .NOTE,
.bussdictEntry .Noteprompt,
.bussdictEntry .PIC,
.bussdictEntry .PICCAL,
.bussdictEntry .FIELDXX,
.bussdictEntry .USAGE,
.bussdictEntry .Crossrefto .REFLEX,
.longman_dict .suppressed,
.longman_dict .verbTable .view_less,
.longman_dict .verbTable .next_tenses {
    display: none;
}

.bussdictEntry .SubEntry .HWD,
.bussdictEntry .GramBox.nobox,
.bussdictEntry .GramBox.nobox .EXPL,
.bussdictEntry .Collocate.inline {
    display: inline;
}

.longman_dict .Crossrefto,
.longman_dict .assettype,
.longman_dict .exaGroup .title,
.longman_dict .exaGroup .NodeW,
.longman_dict .wordfams,
.longman_dict .etym .Head,
.longman_dict .verbTable .lemma,
.longman_dict .verbTable .Simple_Form .aux,
.longman_dict .verbTable .col1,
.longman_dict .verbTable .view_more,
.longman_dict .verbTable .view_less,
.longman_dict .verbTable .verb_form,
.ldoceEntry .ABBR,
.ldoceEntry .AMEQUIV,
.ldoceEntry .BREQUIV,
.ldoceEntry .COLLO,
.ldoceEntry .COLLOINEXA,
.ldoceEntry .COMP,
.ldoceEntry .Crossrefto,
.ldoceEntry .DERIV,
.ldoceEntry .FULLFORM,
.ldoceEntry .GRAM,
.ldoceEntry .HINTBOLD,
.ldoceEntry .HINTTITLE,
.ldoceEntry .HOMNUM,
.ldoceEntry .HYPHENATION,
.ldoceEntry .PHRVBHWD,
.ldoceEntry .LEXUNIT,
.ldoceEntry .LEXVAR,
.ldoceEntry .OPP,
.ldoceEntry .ORTHVAR,
.ldoceEntry .PASTPART,
.ldoceEntry .PASTTENSE,
.ldoceEntry .PLURALFORM,
.ldoceEntry .POS,
.ldoceEntry .PRESPART,
.ldoceEntry .PRESPARTX,
.ldoceEntry .PROPFORM,
.ldoceEntry .PROPFORMPREP,
.ldoceEntry .PTandPP,
.ldoceEntry .PTandPPX,
.ldoceEntry .REFHWD,
.ldoceEntry .REFLEX,
.ldoceEntry .RELATEDWD,
.ldoceEntry .SIGNPOST,
.ldoceEntry .SUPERL,
.ldoceEntry .SYN,
.ldoceEntry .T3PERSSING,
.ldoceEntry .T3PERSSINGX,
.ldoceEntry .UNCLASSIFIED,
.ldoceEntry .warning,
.ldoceEntry .sensenum,
.ldoceEntry .synopp,
.ldoceEntry .FREQ,
.ldoceEntry .AC,
.ldoceEntry .HEADING,
.ldoceEntry .heading,
.ldoceEntry .SECHEADING,
.ldoceEntry .subheading,
.ldoceEntry .COLLOC,
.ldoceEntry .EXP,
.ldoceEntry .EXPR,
.ldoceEntry .keycollo,
.ldoceEntry .THESPROPFORM,
.ldoceEntry .DEFBOLD,
.bussdictEntry .GRAM,
.bussdictEntry .POS,
.bussdictEntry .ABBR,
.bussdictEntry .AMEQUIV,
.bussdictEntry .BREQUIV,
.bussdictEntry .COLLO,
.bussdictEntry .COMP,
.bussdictEntry .COLLOINEXA,
.bussdictEntry .DERIV,
.bussdictEntry .FREQ,
.bussdictEntry .LEVEL,
.bussdictEntry .FULLFORM,
.bussdictEntry .HINTBOLD,
.bussdictEntry .HINTTITLE,
.bussdictEntry .HOMNUM,
.bussdictEntry .HYPHENATION,
.bussdictEntry .LEXUNIT,
.bussdictEntry .LEXVAR,
.bussdictEntry .OPP,
.bussdictEntry .ORTHVAR,
.bussdictEntry .PASTPART,
.bussdictEntry .PASTTENSE,
.bussdictEntry .PHRVBHWD,
.bussdictEntry .PLURALFORM,
.bussdictEntry .PRESPART,
.bussdictEntry .PRESPARTX,
.bussdictEntry .PROPFORM,
.bussdictEntry .PROPFORMPREP,
.bussdictEntry .PTandPP,
.bussdictEntry .PTandPPX,
.bussdictEntry .REFLEX,
.bussdictEntry .RELATEDWD,
.bussdictEntry .SIGNPOST,
.bussdictEntry .SUPERL,
.bussdictEntry .SYN,
.bussdictEntry .T3PERSSING,
.bussdictEntry .T3PERSSINGX,
.bussdictEntry .UNCLASSIFIED,
.bussdictEntry .THESPROPFORM,
.bussdictEntry .SECHEADING,
.bussdictEntry .subheading,
.bussdictEntry .HEADING,
.bussdictEntry .heading,
.bussdictEntry .warning,
.bussdictEntry .sensenum,
.bussdictEntry .synopp,
.bussdictEntry .Gramref,
.bussdictEntry .COLLOC,
.bussdictEntry .EXP,
.bussdictEntry .EXPR,
.bussdictEntry .keycollo,
.bussdictEntry .DEFBOLD,
.bussdictEntry .boxheader,
.bussdictEntry .SubEntry .HWD {
    font-weight: bold;
}

.ldoceEntry .REFHOMNUM,
.bussdictEntry .REFHOMNUM {
    vertical-align: super;
    font-size: 60%;
}

.bussdictEntry .HOMNUM,
.longman_dict .etym .Head .HOMNUM {
    vertical-align: super;
    font-size: 12pt;
}

.ldoceEntry .AC,
.ldoceEntry .synopp {
    color: #fff;
    border-color: #f1d600;
    background-color: #f1d600;
}

.ldoceEntry .EXPL .cross,
.ldoceEntry .GramBox .EXPL .dont_say,
.ldoceEntry .BADEXA {
    color: red;
}

.ldoceEntry .FREQ,
.bussdictEntry .FREQ,
.bussdictEntry .LEVEL {
    color: red;
    border-color: red;
}

.ldoceEntry .LEVEL {
    color: red;
    font-size: 120%;
}

.ldoceEntry .frequent .HOMNUM,
.ldoceEntry .HOMNUM {
    color: red;
    vertical-align: super;
    font-size: 12pt;
}

.ldoceEntry .frequent .HYPHENATION,
.ldoceEntry .HYPHENATION,
.ldoceEntry .PHRVBHWD {
    color: red;
    font-size: 160%;
}

.ldoceEntry .warning,
.bussdictEntry .warning {
    color: red;
    font-style: normal;
}

.ldoceEntry .GramBox .CROSS .neutral {
    color: red;
    margin-right: 10px;
}

.Entry .topic,
.topicCloud .topic_other {
    color: red;
    text-decoration: underline;
}

.ldoceEntry .GRAM,
.bussdictEntry .GRAM {
    color: green;
    margin: 0 5px 10px 3px;
}

.ldoceEntry .POS,
.bussdictEntry .POS {
    color: green;
    margin: 0 0 0 10px;
}

.longman_dict .pos {
    color: green;
    font-weight: normal;
}

.ldoceEntry .REGISTERLAB {
    color: purple;
    font-style: italic;
}

.ldoceEntry .SIGNPOST {
    background-color: #f18500;
    color: white;
    font-size: 79%;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 3px;
    letter-spacing: 1px;
}

.longman_dict .Crossrefto,
.ldoceEntry .RELATEDWD {
    color: blue;
}

.bussdictEntry .synopp {
    font-style: normal;
    color: darkblue;
}

.longman_dict .assettype,
.ldoceEntry .Thesref,
.ldoceEntry .GEO,
.ldoceEntry .geo,
.ldoceEntry .GLOSS,
.ldoceEntry .LINKWORD,
.ldoceEntry .keycollo,
.bussdictEntry .LINKWORD,
.bussdictEntry .COLLOC.key,
.bussdictEntry .keycollo {
    color: #364395;
}

.bussdictEntry .Box,
.ldoceEntry .ColloBox,
.ldoceEntry .ThesBox,
.ldoceEntry .F2NBox,
.ldoceEntry .GramBox {
    border-radius: 5px;
    border: 1px solid #364395;
    padding: 10px;
    margin: 8px 0;
}

.ldoceEntry .HEADING,
.ldoceEntry .heading,
.bussdictEntry .SubEntry .HWD {
    color: #364395;
    font-size: 120%;
}

.bussdictEntry .GEO,
.bussdictEntry .geo,
.bussdictEntry .REGISTERLAB {
    color: #364395;
    font-style: italic;
}

.bussdictEntry .GLOSS {
    color: #364395;
    font-weight: normal;
    font-style: normal;
}

.bussdictEntry .PHRVBHWD,
.bussdictEntry .HEADING,
.bussdictEntry .heading,
.bussdictEntry .Gramref {
    color: #364395;
    font-size: 120%;
}

.bussdictEntry .boxheader {
    background-color: #364395;
    color: #fff;
}

.longman_dict .dictionary_intro,
.longman_dict .topic_intro {
    background-color: #35a3ff;
    color: #fff;
    padding-left: 10px;
    margin: 5px 0 10px -7px;
}

.longman_dict .assets_intro,
.longman_dict .asset_intro {
    border: 1px solid #f1d600;
    background-color: #f1d600;
    color: #fff;
    font-weight: normal;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

.longman_dict .verbTable table {
    background-color: #fae660;
    margin-bottom: 10px;
    border-collapse: collapse;
    width: 100%;
}

.ldoceEntry .SECHEADING,
.ldoceEntry .subheading {
    display: table;
    border-radius: 5px;
    border: solid #6f469d 2px;
    padding-left: 4px;
    padding-right: 15px;
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
    background-color: #6f469d;
}

.ldoceEntry .amefile {
    color: #4693db;
    font-size: 130%;
    padding-left: 5px;
}

.ldoceEntry .brefile {
    color: #fa6360;
    font-size: 130%;
    padding-left: 5px;
}

.ldoceEntry .neutral,
.verbTable .aux,
.verbTable .verb_form,
.ldoceEntry .sensenum {
    color: black;
}

.ldoceEntry .sensenum {
    font-style: normal;
}

.longman_dict .GramBox {
    color: black;
    background-color: #fff;
}

.bussdictEntry .Box .EXAMPLE {
    color: black;
    display: inline;
    margin-left: 0;
    font-style: italic;
}

.verbTable .lemma {
    color: black;
    font-size: 120%;
    margin: 0 0 0 10px;
}

.verbTable .view_more,
.verbTable .view_less {
    color: black;
    text-align: center;
    padding: 20px 0 10px;
}

.verbTable .geo {
    color: black;
    font-style: italic;
    font-weight: normal;
}

.longman_dict .exaGroup .title {
    color: black;
    font-size: 110%;
    margin: 10px 0 0 5px;
}

.longman_dict .Entry .related_topics {
    color: black;
    padding: 0 4px 1px 0;
    font-size: 16px;
}

.ldoceEntry .COLLEXA,
.ldoceEntry .THESEXA {
    color: gray;
}

.ldoceEntry .exafile {
    color: gray;
    font-style: normal;
    font-size: 120%;
    padding: 5px;
}

.ldoceEntry .EXAMPLE,
.bussdictEntry .EXAMPLE,
.longman_dict .exaGroup .exa {
    color: gray;
    margin-left: 10px;
}

.bussdictEntry .supp,
.bussdictEntry .SIGNPOST {
    background-color: gray;
}

.longman_dict .verbTable .col2 {
    color: gray;
    width: 150px
}

.longman_dict a {
    border-bottom: thin dotted gray;
}

.ldoceEntry .RunOn {
    margin-bottom: 10px;
}

.longman_dict .right_col .yellow_box {
    margin-bottom: 10px;
    display: inline-block;
}

.longman_dict .dictentry,
.longman_dict .exaGroup .exaEntry,
.longman_dict .exaGroup .exaGroup,
.longman_dict .verbTable .entry {
    margin-bottom: 20px;
}

.ldoceEntry .Sense,
.bussdictEntry .Sense,
.longman_dict .verbTable .entry {
    margin-left: 20px;
    margin-bottom: 15px;
}

.bussdictEntry .SubEntry.embedded {
    margin-top: -5px;
    margin-left: 20px;
    margin-bottom: 0;
}

.bussdictEntry .SubEntry {
    margin-top: 2px;
    margin-bottom: 2px;
}

.longman_dict .yellow_box {
    margin-top: 20px;
    display: table;
}

.ldoceEntry .Entry,
.bussdictEntry .Entry {
    font-size: 12pt;
    text-align: justify;
    margin-top: 8px;
}

.ldoceEntry .Subsense,
.bussdictEntry .ColloExa,
.bussdictEntry .GramExa,
.bussdictEntry .Subsense {
    margin-left: 10px;
}

.ldoceEntry .PROPFORM,
.ldoceEntry .PROPFORMPREP,
.ldoceEntry .COLLO,
.bussdictEntry .SubEntry {
    margin-left: 20px;
}

.ldoceEntry .Crossrefto,
.ldoceEntry .DERIV {
    font-size: 120%;
}

.ldoceEntry .Entry {
    font-size: 11pt;
    text-align: justify;
}

.ldoceEntry .HINTITALIC,
.ldoceEntry .STRONG,
.ldoceEntry .GOODCOLLO,
.bussdictEntry .COLLOINEXA,
.bussdictEntry .HINTITALIC,
.bussdictEntry .STRONG,
.bussdictEntry .COLLEXA,
.bussdictEntry .THESEXA,
.bussdictEntry .GOODCOLLO,
.bussdictEntry .SECHEADING,
.bussdictEntry .subheading {
    font-style: italic;
}

.ldoceEntry .italic,
.ldoceEntry .infllab,
.bussdictEntry .italic,
.bussdictEntry .infllab {
    font-style: italic;
    font-weight: normal;
}

.bussdictEntry .SECHEADING,
.bussdictEntry .subheading,
.bussdictEntry .UNDERLINE {
    text-decoration: underline;
}

.ldoceEntry .OBJECT {
    font-weight: normal;
}

.ldoceEntry .synopp,
.ldoceEntry .FREQ,
.ldoceEntry .AC {
    display: inline-block;
    font-style: normal;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.longman_dict .GramBox .boxheader,
.longman_dict .ThesBox .heading,
.longman_dict .ColloBox .heading {
    line-height: 2em;
}

.longman_dict .ColloBox .heading {
    margin: 0 10px 0 0;
}

.ldoceEntry .Collocate,
.ldoceEntry .Exponent {
    margin: 15px 0 0 5px;
}

.ldoceEntry .BADCOLLO {
    text-decoration: line-through;
}

.bussdictEntry .DERIV {
    font-size: 120%;
}

.bussdictEntry .HYPHENATION {
    font-size: 160%;
}

.bussdictEntry .OBJECT {
    font-weight: normal;
}

.bussdictEntry .REFHWD {
    text-transform: lowercase;
    font-style: normal;
    font-variant: small-caps;
}

.bussdictEntry .neutral {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

.bussdictEntry .sensenum {
    font-style: normal;
    margin-right: 5px;
    margin-left: 3px;
}

.bussdictEntry .gramref {
    margin: 5px 0;
}

.bussdictEntry .BADCOLLO,
.bussdictEntry .BADEXA {
    text-decoration: line-through;
}

.verbTable td {
    padding: 0 10px;
}

.verbTable .col1 {
    color: #333333;
    padding: 20px 10px 0;
    font-size: 14px;
    text-decoration: underline
}

.verbTable .view_more span,
.verbTable .view_less span {
    cursor: pointer;
}

.verbTable .header {
    background-color: #333333;
    color: #fff;
    padding: 0 0 0 10px;
    font-size: 120%;
}

.longman_dict .wordfams .crossRef,
.longman_dict .wordfams .w {
    margin: 0 6px;
}

.longman_dict .asset {
    margin-top: 20px;
}

.longman_dict .Entry .topics_container {
    display: table;
}
