html, body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f8fa;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /*background-color: #E2E4E6;*/
}

::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9da5ac;
}

::-webkit-scrollbar-thumb:active {
    background-color: #2c3e50;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #1a73e8;
}

.fx:after {
    display: block;
    content: '';
    clear: both;
}

.main {
    margin: 0 auto;
    padding: 10px;
    min-width: 300px;
    /*max-width: 1000px;*/
    font-size: 15px;
    line-height: 1.8;
}

label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.6;
    /*user-select: none;*/
}

label u {
    text-decoration: none;
    margin-left: 20px;
    color: #a2a2a2;
    font-size: 14px;
}

.label_block label {
    display: block;
    margin: 0;
}

input[type=radio], input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 5px;
    position: relative;
    bottom: -4px;
}

select {
    min-width: 100px;
    max-width: 160px;
    height: 30px;
    padding: 3px;
    font-size: 15px;
    border: 1px solid #cfd0d2;
    border-radius: 4px;
}

.mt_1 {
    margin-top: 10px;
}

.mt_2 {
    margin-top: 20px;
}

.dmx_button {
    background: #4395ff;
    border: 1px solid #3589ff;
    border-radius: 4px;
    color: #fff;
    line-height: 1;
    padding: 8px 12px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.dmx_button:hover {
    box-shadow: 2px 2px 5px 0 #d0d7de;
}

.dmx_button:active {
    opacity: .7;
}

.dmx_button_default {
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.dmx_button_success {
    background-color: #67c23a;
    border-color: #67c23a;
    color: #fff;
}

.dmx_button_warning {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: #fff;
}

.dmx_button_danger {
    background-color: #ef473a;
    border-color: #dd1419;
    color: #fff;
}

.dmx_inline {
    display: inline-block;
}

.popup_box {
    margin: 8px;
    width: 120px;
    font-size: 14px;
}

/* ==================== setting ==================== */
.navigate u {
    display: block;
    float: left;
    text-decoration: none;
    background: #fff;
    border: 1px solid #D5D7DF;
    margin-left: -1px;
    padding: 6px 10px;
    line-height: 1;
    cursor: pointer;
}

.navigate u:first-child {
    border-radius: 5px 0 0 5px;
}

.navigate u:last-child {
    border-radius: 0 5px 5px 0;
}

.navigate u:hover {
    color: #1a73e8;
}

.navigate u.active {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.setting_box {
    padding: 0 3px;
    display: none;
}

.setting_option {
    margin-top: 15px;
}

.setting_option .option_title {
    position: relative;
}

.setting_option .option_title:after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.setting_option b {
    z-index: 1;
    position: relative;
    background: #F1F4F6;
    padding-right: 5px;
}

.setting_option .option_box {
    padding-top: 10px;
}

.setting_option .second_box {
    margin: 10px 0 0 5px;
}

.dmx-icon-setting {
    margin-left: 5px;
    color: #7b848c;
    cursor: pointer;
}

#local_tts_dialog {
    display: none;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #F1F4F6;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

#local_tts_dialog select {
    float: left;
    max-width: 220px;
}

#local_tts_reset_setting {
    margin-left: 230px;
}

.local_list_name {
    display: inline-block;
    float: left;
    min-width: 220px;
    text-align: right;
    padding-right: 10px;
}

.local_list_box {
    display: inline-block;
}

.lang_list {
    color: #9da5ac;
}

.lang_list_err {
    color: #FF416C;
}

.dialog_back {
    position: fixed;
    left: 10px;
    top: 2px;
    cursor: pointer;
}

.dialog_back .dmx-icon {
    font-size: 20px;
}

/* ==================== speak ==================== */
#speak_input {
    display: block;
    width: calc(100% - 20px);
    border-radius: 4px;
    border: 1px solid #cfd0d2;
    background: #fff;
    color: #4e5053;
    min-height: 88px;
    line-height: 22px;
    padding: 5px 10px;
    font-size: 15px;
    outline: none;
    overflow: auto;
}

#speak_input:focus {
    border-color: #409eff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.speak_box select {
    margin: 10px 10px 0 0;
}

#speak_button {
    float: right;
}
