.dmx_unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.dmx_overflow_hidden {
    overflow: hidden;
}

div[mx-name="dream-translation"] {
    all: initial;
}

@font-face {
    font-family: "dmx-icon";
    /*src: url('dmx_icon.woff2') format('woff2');*/
    src: url('chrome-extension://__MSG_@@extension_id__/css/dmx_icon.woff2') format('woff2');
}

/* Firefox */
@-moz-document url-prefix() {
    @font-face {
        font-family: "dmx-icon";
        src: url('moz-extension://__MSG_@@extension_id__/css/dmx_icon.woff2') format('woff2');
    }
}

.dmx-icon {
    font-family: "dmx-icon", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

.dmx-icon-dreye:before {
    content: "\e6bc";
}

.dmx-icon-eudic:before {
    content: "\e6bb";
}

.dmx-icon-etymonline:before {
    content: "\e6b1";
}

.dmx-icon-rrdict:before {
    content: "\e6b9";
}

.dmx-icon-lexico:before {
    content: "\e6ba";
}

.dmx-icon-urban:before {
    content: "\e6b8";
}

.dmx-icon-macmillan:before {
    content: "\e6b7";
}

.dmx-icon-vocabulary:before {
    content: "\e6b6";
}

.dmx-icon-wordreference:before {
    content: "\e6b5";
}

.dmx-icon-collins:before {
    content: "\e6b4";
}

.dmx-icon-iciba:before {
    content: "\e6b3";
}

.dmx-icon-hjdict:before {
    content: "\e6b2";
}

.dmx-icon-wikipedia:before {
    content: "\e6b0";
}

.dmx-icon-dictionary:before {
    content: "\e6af";
}

.dmx-icon-so:before {
    content: "\e6aa";
}

.dmx-icon-merriam:before {
    content: "\e6ab";
}

.dmx-icon-longman:before {
    content: "\e6ac";
}

.dmx-icon-cambridge:before {
    content: "\e6ad";
}

.dmx-icon-dictcn:before {
    content: "\e6ae";
}

.dmx-icon-sound-us:before {
    content: "\e674";
}

.dmx-icon-sound-zh:before {
    content: "\e675";
}

.dmx-icon-sound-fr:before {
    content: "\e676";
}

.dmx-icon-sound-de:before {
    content: "\e677";
}

.dmx-icon-sound-th:before {
    content: "\e69c";
}

.dmx-icon-sound-ru:before {
    content: "\e69d";
}

.dmx-icon-sound-pt:before {
    content: "\e69e";
}

.dmx-icon-sound-uk:before {
    content: "\e69f";
}

.dmx-icon-sound-jp:before {
    content: "\e6a0";
}

.dmx-icon-sound-el:before {
    content: "\e6a1";
}

.dmx-icon-sound-cn:before {
    content: "\e6a2";
}

.dmx-icon-sound-nl:before {
    content: "\e6a3";
}

.dmx-icon-sound-it:before {
    content: "\e6a4";
}

.dmx-icon-sound-sp:before {
    content: "\e6a5";
}

.dmx-icon-sound-ko:before {
    content: "\e6a6";
}

.dmx-icon-sound-ar:before {
    content: "\e6a7";
}

.dmx-icon-sound-en:before {
    content: "\e6a8";
}

.dmx-icon-sound-pl:before {
    content: "\e6a9";
}

.dmx-icon-youdao:before {
    content: "\e693";
}

.dmx-icon-sound-square:before {
    content: "\e69b";
}

.dmx-icon-sound:before {
    content: "\e67a";
}

.dmx-icon-user:before {
    content: "\e699";
}

.dmx-icon-angle-double-right:before {
    content: "\e696";
}

.dmx-icon-angle-double-left:before {
    content: "\e697";
}

.dmx-icon-angle-double-up:before {
    content: "\e698";
}

.dmx-icon-angle-double-down:before {
    content: "\e69a";
}

.dmx-icon-youdaonote:before {
    content: "\e691";
}

.dmx-icon-youtube:before {
    content: "\e692";
}

.dmx-icon-windows:before {
    content: "\e694";
}

.dmx-icon-yahoo:before {
    content: "\e695";
}

.dmx-icon-voice-off:before {
    content: "\e68a";
}

.dmx-icon-voice-on:before {
    content: "\e68b";
}

.dmx-icon-voice:before {
    content: "\e68c";
}

.dmx-icon-video:before {
    content: "\e68d";
}

.dmx-icon-vip-crown:before {
    content: "\e68e";
}

.dmx-icon-vip-fill:before {
    content: "\e68f";
}

.dmx-icon-vip-card:before {
    content: "\e690";
}

.dmx-icon-up:before {
    content: "\e688";
}

.dmx-icon-up-circle:before {
    content: "\e689";
}

.dmx-icon-trash:before {
    content: "\e682";
}

.dmx-icon-twitter:before {
    content: "\e683";
}

.dmx-icon-tool:before {
    content: "\e684";
}

.dmx-icon-telegram:before {
    content: "\e685";
}

.dmx-icon-tinder:before {
    content: "\e686";
}

.dmx-icon-twitter-circle:before {
    content: "\e687";
}

.dmx-icon-switch:before {
    content: "\e67f";
}

.dmx-icon-switch-on:before {
    content: "\e680";
}

.dmx-icon-switch-off:before {
    content: "\e681";
}

.dmx-icon-oxford:before {
    content: "\e6be";
}

.dmx-icon-thefree:before {
    content: "\e6bd";
}

.dmx-icon-wikipedia:before {
    content: "\e6b0";
}

.dmx-icon-dreye:before {
    content: "\e6bc";
}

.dmx-icon-eudic:before {
    content: "\e6bb";
}

.dmx-icon-etymonline:before {
    content: "\e6b1";
}

.dmx-icon-rrdict:before {
    content: "\e6b9";
}

.dmx-icon-lexico:before {
    content: "\e6ba";
}

.dmx-icon-urban:before {
    content: "\e6b8";
}

.dmx-icon-macmillan:before {
    content: "\e6b7";
}

.dmx-icon-vocabulary:before {
    content: "\e6b6";
}

.dmx-icon-wordreference:before {
    content: "\e6b5";
}

.dmx-icon-collins:before {
    content: "\e6b4";
}

.dmx-icon-iciba:before {
    content: "\e6b3";
}

.dmx-icon-hjdict:before {
    content: "\e6b2";
}

.dmx-icon-dictionary:before {
    content: "\e6af";
}

.dmx-icon-so:before {
    content: "\e6aa";
}

.dmx-icon-merriam:before {
    content: "\e6ab";
}

.dmx-icon-longman:before {
    content: "\e6ac";
}

.dmx-icon-cambridge:before {
    content: "\e6ad";
}

.dmx-icon-dictcn:before {
    content: "\e6ae";
}

.dmx-icon-sound-us:before {
    content: "\e674";
}

.dmx-icon-sound-zh:before {
    content: "\e675";
}

.dmx-icon-sound-fr:before {
    content: "\e676";
}

.dmx-icon-sound-de:before {
    content: "\e677";
}

.dmx-icon-sound-th:before {
    content: "\e69c";
}

.dmx-icon-sound-ru:before {
    content: "\e69d";
}

.dmx-icon-sound-pt:before {
    content: "\e69e";
}

.dmx-icon-sound-uk:before {
    content: "\e69f";
}

.dmx-icon-sound-jp:before {
    content: "\e6a0";
}

.dmx-icon-sound-el:before {
    content: "\e6a1";
}

.dmx-icon-sound-cn:before {
    content: "\e6a2";
}

.dmx-icon-sound-nl:before {
    content: "\e6a3";
}

.dmx-icon-sound-it:before {
    content: "\e6a4";
}

.dmx-icon-sound-sp:before {
    content: "\e6a5";
}

.dmx-icon-sound-ko:before {
    content: "\e6a6";
}

.dmx-icon-sound-ar:before {
    content: "\e6a7";
}

.dmx-icon-sound-en:before {
    content: "\e6a8";
}

.dmx-icon-sound-pl:before {
    content: "\e6a9";
}

.dmx-icon-youdao:before {
    content: "\e693";
}

.dmx-icon-sound-square:before {
    content: "\e69b";
}

.dmx-icon-sound:before {
    content: "\e67a";
}

.dmx-icon-user:before {
    content: "\e699";
}

.dmx-icon-angle-double-right:before {
    content: "\e696";
}

.dmx-icon-angle-double-left:before {
    content: "\e697";
}

.dmx-icon-angle-double-up:before {
    content: "\e698";
}

.dmx-icon-angle-double-down:before {
    content: "\e69a";
}

.dmx-icon-youdaonote:before {
    content: "\e691";
}

.dmx-icon-youtube:before {
    content: "\e692";
}

.dmx-icon-windows:before {
    content: "\e694";
}

.dmx-icon-yahoo:before {
    content: "\e695";
}

.dmx-icon-voice-off:before {
    content: "\e68a";
}

.dmx-icon-voice-on:before {
    content: "\e68b";
}

.dmx-icon-voice:before {
    content: "\e68c";
}

.dmx-icon-video:before {
    content: "\e68d";
}

.dmx-icon-vip-crown:before {
    content: "\e68e";
}

.dmx-icon-vip-fill:before {
    content: "\e68f";
}

.dmx-icon-vip-card:before {
    content: "\e690";
}

.dmx-icon-up:before {
    content: "\e688";
}

.dmx-icon-up-circle:before {
    content: "\e689";
}

.dmx-icon-trash:before {
    content: "\e682";
}

.dmx-icon-twitter:before {
    content: "\e683";
}

.dmx-icon-tool:before {
    content: "\e684";
}

.dmx-icon-telegram:before {
    content: "\e685";
}

.dmx-icon-tinder:before {
    content: "\e686";
}

.dmx-icon-twitter-circle:before {
    content: "\e687";
}

.dmx-icon-switch:before {
    content: "\e67f";
}

.dmx-icon-switch-on:before {
    content: "\e680";
}

.dmx-icon-switch-off:before {
    content: "\e681";
}

.dmx-icon-success:before {
    content: "\e67d";
}

.dmx-icon-suse:before {
    content: "\e67e";
}

.dmx-icon-star:before {
    content: "\e67b";
}

.dmx-icon-stop:before {
    content: "\e67c";
}

.dmx-icon-sound-big:before {
    content: "\e673";
}

.dmx-icon-sound-line:before {
    content: "\e678";
}

.dmx-icon-sound-horn:before {
    content: "\e679";
}

.dmx-icon-sogou:before {
    content: "\e66d";
}

.dmx-icon-smile:before {
    content: "\e66e";
}

.dmx-icon-skull:before {
    content: "\e66f";
}

.dmx-icon-search:before {
    content: "\e670";
}

.dmx-icon-s:before {
    content: "\e671";
}

.dmx-icon-setting:before {
    content: "\e672";
}

.dmx-icon-reply:before {
    content: "\e668";
}

.dmx-icon-redhat:before {
    content: "\e669";
}

.dmx-icon-right:before {
    content: "\e66a";
}

.dmx-icon-reload:before {
    content: "\e66b";
}

.dmx-icon-refresh:before {
    content: "\e66c";
}

.dmx-icon-plus:before {
    content: "\e665";
}

.dmx-icon-play:before {
    content: "\e666";
}

.dmx-icon-qq:before {
    content: "\e667";
}

.dmx-icon-plane-send:before {
    content: "\e65c";
}

.dmx-icon-plane-departure:before {
    content: "\e65d";
}

.dmx-icon-plane-up:before {
    content: "\e65e";
}

.dmx-icon-plane-paper:before {
    content: "\e65f";
}

.dmx-icon-plane:before {
    content: "\e660";
}

.dmx-icon-plane-fly:before {
    content: "\e661";
}

.dmx-icon-plane-up-fill:before {
    content: "\e662";
}

.dmx-icon-plane-send-fill:before {
    content: "\e663";
}

.dmx-icon-plane-takeoff:before {
    content: "\e664";
}

.dmx-icon-picture-fill:before {
    content: "\e658";
}

.dmx-icon-pin:before {
    content: "\e659";
}

.dmx-icon-pin-left:before {
    content: "\e65a";
}

.dmx-icon-picture:before {
    content: "\e65b";
}

.dmx-icon-microsoft:before {
    content: "\e651";
}

.dmx-icon-m:before {
    content: "\e652";
}

.dmx-icon-modx:before {
    content: "\e653";
}

.dmx-icon-meetup:before {
    content: "\e654";
}

.dmx-icon-mule:before {
    content: "\e655";
}

.dmx-icon-music:before {
    content: "\e656";
}

.dmx-icon-more:before {
    content: "\e657";
}

.dmx-icon-loading:before {
    content: "\e650";
}

.dmx-icon-l:before {
    content: "\e64a";
}

.dmx-icon-itunes:before {
    content: "\e64b";
}

.dmx-icon-info:before {
    content: "\e64c";
}

.dmx-icon-laugh:before {
    content: "\e64d";
}

.dmx-icon-left:before {
    content: "\e64e";
}

.dmx-icon-list:before {
    content: "\e64f";
}

.dmx-icon-help:before {
    content: "\e647";
}

.dmx-icon-horn:before {
    content: "\e648";
}

.dmx-icon-home:before {
    content: "\e649";
}

.dmx-icon-headset:before {
    content: "\e644";
}

.dmx-icon-headset-c:before {
    content: "\e645";
}

.dmx-icon-heart:before {
    content: "\e646";
}

.dmx-icon-good:before {
    content: "\e642";
}

.dmx-icon-google:before {
    content: "\e643";
}

.dmx-icon-fullscreen-exit:before {
    content: "\e63e";
}

.dmx-icon-fullscreen:before {
    content: "\e63f";
}

.dmx-icon-fan:before {
    content: "\e640";
}

.dmx-icon-flag:before {
    content: "\e641";
}

.dmx-icon-eye-left:before {
    content: "\e639";
}

.dmx-icon-error:before {
    content: "\e63a";
}

.dmx-icon-eye-right:before {
    content: "\e63b";
}

.dmx-icon-exchange:before {
    content: "\e63c";
}

.dmx-icon-edge:before {
    content: "\e63d";
}

.dmx-icon-down:before {
    content: "\e634";
}

.dmx-icon-diaspora:before {
    content: "\e635";
}

.dmx-icon-devil:before {
    content: "\e636";
}

.dmx-icon-degree:before {
    content: "\e637";
}

.dmx-icon-d:before {
    content: "\e638";
}

.dmx-icon-close:before {
    content: "\e62e";
}

.dmx-icon-circle:before {
    content: "\e62f";
}

.dmx-icon-cry-fill:before {
    content: "\e630";
}

.dmx-icon-copy:before {
    content: "\e631";
}

.dmx-icon-cry:before {
    content: "\e632";
}

.dmx-icon-close-bg:before {
    content: "\e633";
}

.dmx-icon-bing:before {
    content: "\e62b";
}

.dmx-icon-bell:before {
    content: "\e62c";
}

.dmx-icon-baidu:before {
    content: "\e62d";
}

.dmx-icon-arrow-right:before {
    content: "\e625";
}

.dmx-icon-arrow-left:before {
    content: "\e626";
}

.dmx-icon-arrow-up:before {
    content: "\e627";
}

.dmx-icon-arrow-down:before {
    content: "\e628";
}

.dmx-icon-arrow-thin-down:before {
    content: "\e629";
}

.dmx-icon-arrow-thin-up:before {
    content: "\e62a";
}

.dmx-icon-android:before {
    content: "\e622";
}

.dmx-icon-apple:before {
    content: "\e623";
}

.dmx-icon-angular:before {
    content: "\e624";
}

.dmx-icon-alibaba:before {
    content: "\e621";
}
