* {
    box-sizing: border-box;
    outline-color: #448aff;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    font-family: Helvetica Neue, PingFang SC, Microsoft YaHei, sans-serif;
    background: #f5f8fa;
    line-height: 1.8;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /*background-color: #E2E4E6;*/
}

::-webkit-scrollbar-thumb {
    background-color: #bdc3c7;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9da5ac;
}

::-webkit-scrollbar-thumb:active {
    background-color: #2c3e50;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #1a73e8;
}

.fx:after {
    display: block;
    content: '';
    clear: both;
}

.dmx_hide {
    display: none !important;
}

.dmx_show {
    display: block !important;
}

.mt_1 {
    margin-top: 10px;
}

.mt_2 {
    margin-top: 20px;
}

.ml_1 {
    margin-left: 10px;
}

.ml_2 {
    margin-left: 20px;
}

.main {
    margin: 0 auto;
    padding: 10px;
    min-width: 300px;
    font-size: 15px;
}

label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.6;
    /*user-select: none;*/
}

label u {
    text-decoration: none;
    margin-left: 20px;
    color: #a2a2a2;
    font-size: 14px;
}

.label_block label {
    display: block;
    margin: 0;
}

input[type=radio], input[type=checkbox] {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 5px;
    position: relative;
    bottom: -4px;
}

/* Firefox */
@-moz-document url-prefix() {
    input[type=radio], input[type=checkbox] {
        bottom: auto;
    }
}

select {
    min-width: 100px;
    max-width: 160px;
    height: 30px;
    padding: 3px;
    font-size: 15px;
    border: 1px solid #cfd0d2;
    border-radius: 4px;
}

.dmx_button {
    display: inline-block;
    background: #4395ff;
    border: 1px solid #3589ff;
    border-radius: 4px;
    color: #fff;
    line-height: 1;
    padding: 8px 12px;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.dmx_button:hover {
    box-shadow: 2px 2px 5px 0 #a6aab0;
}

.dmx_button:active {
    opacity: .7;
}

.dmx_button.medium {
    font-size: 105%;
    padding: 10px 13px;
}

.dmx_button.big {
    font-size: 125%;
    padding: 10px 16px;
}

.dmx_button .dmx-icon {
    margin-right: 5px;
}

.dmx_button_default {
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.dmx_button_success {
    background-color: #67c23a;
    border-color: #67c23a;
    color: #fff;
}

.dmx_button_warning {
    background-color: #e6a23c;
    border-color: #e6a23c;
    color: #fff;
}

.dmx_button_danger {
    background-color: #ef473a;
    border-color: #dd1419;
    color: #fff;
}

.dmx_button:disabled, .dmx_button:disabled:hover {
    cursor: not-allowed;
    opacity: .3;
    box-shadow: none;
}

.divider {
    position: relative;
    text-align: center;
    margin: 10px 0;
}

.divider:after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.divider b {
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    background: #F1F4F6;
    font-size: 120%;
    font-weight: 400;
}

.item_input, .item_textarea {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    outline: none;
    font-size: 16px;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.item_input:hover, .item_textarea:hover {
    border-color: #c0c4cc;
}

.item_input:focus, .item_textarea:focus {
    border-color: #409eff;
}

.item_textarea {
    padding: 5px 15px;
    height: auto;
    min-height: 42px;
    line-height: 26px;
    resize: vertical;
}

.dmx_form_item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.dmx_form_item .item_label {
    padding: 0 10px 0 0;
    color: #606266;
    font-size: 16px;
    box-sizing: border-box;
    white-space: nowrap;
}

.dmx_form_item .item_content {
    width: 100%;
}

.dmx_form_item .item_content.number {
    width: 100px;
}

.dmx_form_item .item_content.number input[type="number"] {
    padding-right: 2px;
}

/* ==================== player ==================== */
.dmx_player {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 120px;
    max-width: 920px;
    background: #d7dde8;
    border-radius: 5px;
}

.dmx_player .dmx_surfer {
    width: 100%;
    height: calc(100% - 26px);
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.dmx_player .dmx_controls {
    display: flex;
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: calc(100% - 26px);
    z-index: 999;
}

.dmx_player .dmx_p_top {
    background: #757F9A;
    color: #FFFFFF;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
}

.dmx_player .dmx_p_top .dmx_p_title {
    float: left;
    font-size: 16px;
}

.dmx_player .dmx_p_top .dmx_p_time {
    float: right;
    font-size: 14px;
    font-family: Consolas, serif;
}

.dmx_player .dmx_controls button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100px;
    height: 60px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10px;
    outline: 0;
    padding: 0 10px;
    margin-top: -30px;
    margin-left: -50px;
    font-size: 32px;
    background-color: #FF4B2B;
    border-color: #FF4B2B;
    color: #FFF;
}

.dmx_player .dmx_controls button:hover {
    background: #f78989;
    border-color: #f78989;
    color: #FFF;
}

.dmx_player .dmx_controls button.disabled {
    cursor: not-allowed;
    background: #fab6b6;
    border-color: #fab6b6;
    color: #FFF;
}

.dmx_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    position: relative;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: linear-gradient(#e9eaeb, #D3CCE3);
    border: 1px solid #bdc3c7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .19), inset 0 1px 0 rgba(255, 255, 255, .4);
    transition: height 0.25s ease, width 0.25s ease;
    transform: translate(-50%, -50%);
}

.dmx_circle:hover {
    outline: none;
}

.dmx_circle:before, .dmx_circle:after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

.dmx_circle .dmx-icon {
    font-size: 46px;
    color: #333;
}

.dmx_circle.dmx_on {
    background: linear-gradient(#FF416C, #FF4B2B);
    border: 1px solid #FF4B2B;
}

.dmx_circle.dmx_on .dmx-icon {
    color: #fff;
}

.dmx_circle.dmx_on:before, .dmx_circle.dmx_on:after {
    border: 0.015625rem solid #FF4B2B;
}

.dmx_circle.dmx_on:before {
    animation: dmx_ripple 2s linear infinite;
}

.dmx_circle.dmx_on:after {
    animation: dmx_ripple 2s linear 1s infinite;
}

.dmx_reverse.dmx_on:before, .dmx_reverse.dmx_on:after {
    animation-direction: reverse;
}

.dmx_reverse.dmx_on {
    cursor: pointer;
}

@keyframes dmx_ripple {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.75);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.95);
        opacity: 0;
    }
}

/* ==================== setting ==================== */
.tab u {
    display: block;
    float: left;
    text-decoration: none;
    background: #fff;
    border: 1px solid #D5D7DF;
    border-left: 0;
    padding: 6px 10px;
    line-height: 1;
    cursor: pointer;
}

.tab u:first-child {
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #D5D7DF;
}

.tab u:last-child {
    border-radius: 0 5px 5px 0;
}

.tab u:hover {
    color: #1a73e8;
}

.tab u.active {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.setting_box {
    padding: 0 3px;
    display: none;
}

.setting_option {
    margin-top: 15px;
}

.setting_option .option_title {
    position: relative;
}

.setting_option .option_title:after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.setting_option b {
    z-index: 1;
    position: relative;
    background: #F1F4F6;
    padding-right: 5px;
}

.setting_option .option_box {
    padding-top: 10px;
}

.setting_option .second_box {
    margin: 10px 0 0 5px;
}

.setting_option .dmx-icon-setting {
    margin-left: 5px;
    color: #7b848c;
    cursor: pointer;
}

#local_tts_dialog {
    display: none;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f5f8fa;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
}

#local_tts_dialog select {
    float: left;
    max-width: 220px;
}

#local_tts_reset_setting {
    margin-left: 230px;
}

.local_list_name {
    display: inline-block;
    float: left;
    min-width: 220px;
    text-align: right;
    padding-right: 10px;
}

.local_list_box {
    display: inline-block;
}

.lang_list {
    color: #9da5ac;
}

.lang_list_err {
    color: #FF416C;
}

.dialog_back {
    position: fixed;
    left: 10px;
    top: 2px;
    cursor: pointer;
}

.dialog_back .dmx-icon {
    font-size: 20px;
}

/* ==================== speak ==================== */
.speak_body {
    margin: 62px 10px 10px;
}

#speak_input {
    display: block;
    border-radius: 4px;
    border: 1px solid #cfd0d2;
    background: #fff;
    color: #4e5053;
    min-height: 88px;
    line-height: 22px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    overflow: auto;
}

#speak_input:focus {
    border-color: #409eff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.speak_box select {
    margin: 10px 10px 0 0;
}

#speak_button {
    float: right;
}

/* ==================== more ==================== */
.more_list .dmx_button {
    float: left;
    margin: 0 10px 10px 0;
}

/* ==================== record ==================== */
.record_main {
    margin: 0 auto;
    padding: 0 10px 10px;
    min-width: 500px;
    max-width: 920px;
}

.dmx_center {
    margin: 20px 0;
    text-align: center;
}

.dmx_right {
    margin: 20px 0;
    text-align: right;
}

.learn_points {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.8;
    color: #b3b3b3;
}

.learn_points .title {
    position: relative;
}

.learn_points .title:after {
    position: absolute;
    top: 50%;
    display: block;
    content: '';
    width: 100%;
    border-bottom: 1px solid #b9b9b9;
}

.learn_points b {
    z-index: 1;
    position: relative;
    background: #F1F4F6;
    padding-right: 5px;
}

.learn_points .case {
    padding: 5px;
}

#favorite_form {
    display: none;
}

#back_but {
    margin-left: 10px;
}

/* ==================== favorite ==================== */
.head {
    z-index: 2;
    position: fixed;
    top: 0;
    background: #F6F7F9;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 2px 6px 2px rgba(60, 64, 67, .15);
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.head .logo {
    float: left;
    color: #1a73e8;
    text-shadow: -1px -1px white, 1px 1px #175fbf;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 15px;
}

.head .nav {
    float: left;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.head .nav li {
    padding: 0 15px;
}

.head .nav li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    color: #8590a6;
}

.head .nav li a:hover, .head .nav li a.active {
    color: #121212;
    font-weight: 600;
}

.head .nav li a.active:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 4px;
    background: #06f;
    content: '';
}

.head .tool {
    float: right;
    margin-right: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.head .tool li {
    padding: 0 10px;
    font-size: 15px;
    cursor: pointer;
}

.head .tool li .dmx-icon {
    margin-right: 5px;
}

.cate {
    z-index: 1;
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 250px;
    background: #F3F6F9;
    border-right: 1px solid #AFB3B5;
    overflow: auto;
}

.cate .dmx-icon:hover, .dmx_hover .dmx-icon:hover {
    color: #06f;
    cursor: pointer;
}

#create_cate_but {
    position: fixed;
    top: 52px;
    left: 217px;
}

#create_cate_but .dmx-icon {
    font-size: 20px;
}

.cate ul {
    padding: 5px 0;
}

.cate ul li {
    line-height: 32px;
    font-size: 15px;
    padding: 0 10px 0 15px;
    cursor: pointer;
}

.cate ul li .dmx-icon {
    color: #9EA9B7;
    margin-right: 5px;
}

.cate ul li:hover {
    background: #EBECEE;
}

.cate ul li.active {
    background: #EBECEE;
}

.cate ul li.active a, .cate ul li.active .dmx-icon {
    color: #1a73e8;
}

.cate ul li.active .dmx-icon:before {
    content: "\e6c5";
}

.favorite_box {
    min-width: 1000px;
    margin: 60px 10px 10px 260px;
}

.card {
    background: #FFFFFF;
    border: 1px solid #CCCFD0;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.card_head {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 56px;
    padding: 10px 15px;
    font-size: 18px;
    border-bottom: 1px solid #CCCFD0;
}

.card_head > div {
    margin-right: 15px;
}

.card_head .dmx_vis {
    visibility: hidden;
}

.card_head:hover .dmx_vis {
    visibility: visible;
}

.card_head .item_num {
    font-size: 14px;
    color: #b1b1b1;
}

.card_head .dmx_button {
    margin-left: 10px;
}

.card_head .extra {
    display: none;
}

.card_body {
    padding-bottom: 5px;
}

table.dmx_table {
    width: 100%;
    min-width: 800px;
    border-collapse: collapse;
}

table.dmx_table tr:hover td {
    background: #F2F5F9;
}

table.dmx_table th, table.dmx_table td {
    text-align: left;
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 8px;
    word-break: break-all;
    font-size: 16px;
}

table.dmx_table th {
    background: #F5F6F9;
}

table.dmx_table thead th {
    border-top: none;
}

table.dmx_table .tb_checkbox {
    width: 50px;
}

table.dmx_table .tb_index {
    width: 80px;
}

table.dmx_table .tb_words {
    width: 240px;
}

table.dmx_table .tb_records, table.dmx_table .tb_days {
    width: 90px;
}

table.dmx_table .tb_date {
    width: 220px;
}

table.dmx_table .tb_operate {
    width: 200px;
}

table.dmx_table .table_empty {
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;
}

.player_box {
    min-width: 500px;
    max-width: 920px;
    margin: 0 auto;
}

#player_sentence {
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}

#player_sentence.hide {
    color: #F1F4F6;
}

#player_sentence.hide:hover {
    color: #333;
}

/* ==================== dal ==================== */
.dal, .dal_bg, .ddi, .ddi_bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dal_bg, .ddi_bg {
    z-index: 999999999998;
    background: rgba(0, 0, 0, .6);
}

.dal, .ddi {
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dal_modal, .ddi_modal {
    position: relative;
    width: 500px;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;
    max-height: 95%;
    overflow: auto;
}

.dal_text {
    margin: 15px 0;
}

.dal_text .dmx-icon {
    margin-right: 8px;
    font-size: 130%;
}

.dal_text .dmx-icon-info {
    color: #e6a23c;
}

.dal_text .dmx-icon-close {
    color: #D50007;
}

.dal_text .dmx-icon-success {
    color: #67c23a;
}

.dal_foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dal_foot .dmx_button {
    margin-left: 10px;
}

.ddi_dialog {
    width: 600px;
    padding: 0;
}

.ddi_dialog.fullscreen {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    background: #F1F4F6;
}

.ddi_head {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    font-weight: bold;
}

.ddi_head .dmx-icon-close {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FC4949;
}

.ddi_head .dmx-icon:hover {
    opacity: .8;
    cursor: pointer;
}

.ddi_body {
    margin: 0 15px 10px;
}
